@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,700');

 {
	font-family: 'Open Sans', sans-serif;
 }


#link1{
    color: black;
}
#link2{
    color: black;
}
#link3{
    color: black;
}
#link4{
    color: black;
}

.fila1{
	background-color: #E56353;
	height: 350px;
	padding: 70px;
	text-align: center;
	color: white;
}
#tit-fila1{
	font-size: 60px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin-top: 50px;
}



.fila2{
	background-color: #707070;
	height: 435px;
}
#historia{
	width: 630px;
	height: 435px;
}
.tit-histo{
	text-align: left;
	padding-right: 70px;
	padding-top: 80px;
	color: white;
}
.histo{
	color: white;
}
.limache{
	text-align: left;
	padding-right: 70px;
	color: white;
}

.fila3{
	background-color: #FAFAFA;
	height: 435px;
}

#tit-desde{
	color: black;
	padding-top: 40px;
	padding-left: 20px;
	font-family: 'Open Sans', sans-serif;
}

#tomatoes{
	height: 435px;
	width: 540px;
	padding-left: 60px;
}
.limache{
	color: black;
	padding-left: 20px;
}

.fila4{
	background-color: #E56353;
    height: 240px;
    text-align: center;
	
}

#nosotros{
	color: white;
	font-size: 70px;
	padding-top: 80px;
}

.fila5{
	background-color: #FAFAFA;
	height: 390px;
}
#javiera{
	width: 450px;
	padding-top: 90px;
	padding-left: 100px;
}
#tit-javi{
    padding-top: 110px;
    padding-left: 7px;
}
.javi-text{
	margin-right: 50px;
    padding-right: 50px;
 }

.fila6{
	background-color: #FAFAFA;
	height: 560px;
}
#roberto{
	width: 450px;
	padding-top: 100px;
	padding-left: 100px;
}
#tit-robert{
    padding-top: 160px;
   
    padding-left: 7px;
}
.robert-text{
	margin-right: 50px;
    padding-right: 50px;
 }
.fila7{
	background-color: #E56353;
	text-align: center;
	height: 230px;
}
#tit-fil-7{
    color: white;
    padding: 20px;
}
#boton{
	background-color: white;
	border-radius: 30px;
	width: 300px;
	height: 55px;
	color: black;
    border: none;
}


.footer{
	width: 100%;
	height: 210px;
	background-color: #686963;
}

#logo-foot{
	width: 180px;
	padding-top: 70px;
	margin-left: 70px;
}

.cont-logo{
	float: left;
	margin-left: 30px;
}

.cont-link{
	float: right;
	margin-right: 150px;
	padding-top: 10px;
}

#acerca{
	color: white;
}
#productos{
    color: white;
}
#blog{
    color: white;
}
#contacto{
    color: white;
}

.a2a_button_facebook{
	margin-top: 100px;
    margin-left: 180px;
}
.a2a_button_twitter{
	margin-top: 100px;
	margin-left: 50px;
}




